# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [2]:
## assignment-1
tupp=tuple(range(1,11))
print(tupp)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
## assignment-2
print(tupp[0])
print(tupp[-1])
mid = int(len(tupp)/2)
print(tupp[mid])

1
10
6

In [5]:
## assignment-3
print(tupp[0:3])
print(tupp[-1:-4:-1])
print(tupp[2:6])

(1, 2, 3)
(10, 9, 8)
(3, 4, 5, 6)

In [2]:
## assignment-4
tpl =((1,2,4),(4,5,6),(7,8,9))
for i in tpl:
    print(i)
print(tpl[0][2])

(1, 2, 4)
(4, 5, 6)
(7, 8, 9)
4

In [3]:
## assignment-5
tpl1=(1,2,3)
tpl2 = (4,5,6)
result = tpl1+tpl2
print(result)

(1, 2, 3, 4, 5, 6)

In [10]:
## assignment-6
tpl=(1,2,3,1,3,4,5,5,6,7,8,92,3,8,9)
for i in tpl:
    print(i," : ",(tpl.count(i)))

1  :  2
2  :  1
3  :  3
1  :  2
3  :  3
4  :  1
5  :  2
5  :  2
6  :  1
7  :  1
8  :  2
92  :  1
3  :  3
8  :  2
9  :  1

In [13]:
## assignment-7
tpl =(1,2,3,4,5)
a,b,c,d,e=tpl
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [12]:
## assignment-8
lst = [1,2,3,4,5]
print(tuple(lst))

(1, 2, 3, 4, 5)

In [14]:
## assignment-9
tpl = (
    (1,2,3),
    (4,5,6,),
    (7,8,9)
)
print(tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [15]:
## assignment-10
tpl = (1,2,3,4,5)
converted_tpl = list(tpl)
converted_tpl.append(6)
print(tuple(converted_tpl))

(1, 2, 3, 4, 5, 6)

In [21]:
## assignment-11
tpl = ('d','i','v','y','a','n','s','h','i')
for i in tpl:
    print(i,end="")
print()
print(type(i))

divyanshi
<class 'str'>

In [33]:
## assignment-12
dict = {(a,):1,
(b,):2,
(c,):3,
(d,):4
}
print(dict)

for key in dict.keys():
    print(type(key))

{(1,): 1, (2,): 2, (3,): 3, (4,): 4}
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [37]:
## assignment-13
nested_tpl = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for i in nested_tpl:
    print(i)

items = (item for sub_tpl in nested_tpl for item in sub_tpl)
for j in items:
    print(j, end=" ")

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
1 2 3 4 5 6 7 8 9

In [39]:
## assignment-14
dup_tpl = (1,2,3,2,3,4,5,6,6,6,7)
result=set(dup_tpl)
print(result)

{1, 2, 3, 4, 5, 6, 7}

In [42]:
## assignment-15
def func(tpl):
    sum=0
    for i in tpl:
        sum= sum+i
    return max(tpl), min(tpl),sum


tpl=(1,2,3,4,5,6,7)
max,min,sum = func(tpl)
print(max)
print(min)
print(sum)

7
1
28